
<tr><td><%= line_item.quantity %> &times; </td><td><%= line_item.product.title %></td><td><%= number_to_currency(line_item.total_price) %></td></tr>
<tr><td colspan=4><%= button_to 'Remove from my cart', line_item, :controller=>:line_items, :method => :delete %></td></tr>
